body {
  margin: 0% !important;
  padding: 0% !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: brown;
}

nav {
  background-color: white;
}

nav ul {
  margin: 0%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav li:first-child {
  margin-right: auto;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  color: black;
  align-items: center;
  transition: 0.6s all ease-in;
}

/*  < < < Sidebar Started > > > */

._sidebar {
  position: fixed;
  padding: 0%;
  top: 0%;
  right: 0%;
  height: 100vh;
  width: 420px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: #ffffff25;
  box-shadow: 0px 0px 10px #80808048;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

._sidebar li {
  width: 100%;
}

._sidebar li:first-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

._sidebar img {
  width: 25px;
  height: 25px;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 568px) {
  ._sidebar {
    width: 100%;
  }
}

button {
  background-color: #ff9b24;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 30px;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

button > span.bg {
  background-color: #00bbae;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: rgb(240, 240, 240);
}

button:hover > span.bg {
  transition: all 0.3s ease-in-out;
}

/* bottom */

button.bottom > .bg {
  left: 0;
  bottom: 100%;
  transform: translateY(200%);
}

button.bottom:hover > .bg {
  transform: translateY(100%);
  border-radius: 50px;
}
